.env
node_modules
node_modules/*
constants/firebase-setup.js
/constants/firebase-setup.js
/constants/vericode-bot-firebase-adminsdk-ay60l-dd452d2709.json
constants/vericode-bot-firebase-adminsdk-ay60l-dd452d2709.json
output.csv